# common
argparse
colorama
httplib2
lxml
numpy
oauth2client
pandas
PyDrive
pygsheets
PyYAML
termcolor
colorama
yamllint
pdf2image
pillow

# json-to-docx
pywin32
python-docx

# json-to-odt
odfpy
OOoPy

# json-to-pdf
